



@media (min-width: 768px) {

	.redbox {
		/* background-color: red; */
		margin-right: 1.5%;
		margin-left: 0;
		width: 48.5%;
		float: left;
		min-height: 280px;
		margin-botom: 0;
	}

	.redbox + .redbox {
		margin-right: 0;
		margin-left: 1.5%;
	}

}