


meter {
  width: 500px;
  height: 25px;
  -webkit-appearance: none; /* Reset appearance */
  border: 1px solid #ccc;
  border-radius: 3px;
}

meter::-webkit-meter-bar {
  background: none; /* Required to get rid of the default background property */
  background-color: whiteSmoke;
  box-shadow: 0 5px 5px -5px #333 inset;
}

/* 
Font - footern

 */
 .main-footer > .val-footer p,
  .main-footer > .val-footer {
 	font-family:'Open Sans',Arial,sans-serif;
 }

.meter-frame {
	border: none;
	display: block;
	float: left;
	height: 36px;
	width: 100%;
	background-color: #000;
	margin-bottom: 30px;
}


.meter {
	background-color: @meter-color;
	display:block;
	height:36px;
	padding:11px;
}

.meter-1 {width:78%;}
.meter-2 {width:63%;}
.meter-3 {width:76%;}

.meter-text {
	float:right;
	/* color:@footer-text-color; */
}

.main-footer p {
	font-family: arial;
	font-size: 12px;
	/* color: @footer-text-color; */
	line-height: 16px;
	font-weight: 400;
	margin-bottom: 6px;
}

.main-footer .val-footer p,
.main-footer .val-footer,
.main-footer .val-footer h2 {
	color: #ffffff;
}

.val-footer {
	padding:0 8px;
	margin-top:25px;
}

.val-footer h2 {
	font-size: 20px;
	font-family: 'Open Sans',Arial,sans-serif;
}
.val-footer .mitt-sverige h2 {
	margin-bottom:55px;
}

.val-footer .mitt-sverige > p {
	font-size: 14px;
	line-height: 21px;
}

.val-footer .turne-plan {
	/* max-width:444px; */
	float: left;
	width: 100%;
}
.val-footer .turne-plan > ul {
	margin: 0;
	padding: 0;
}

.turne-plan img {
	display: block;
	margin: 1px auto 11px;
	/* margin-bottom: 12px; */
}
/* fix pixel police task force */
.turne-plan .box-link {
	margin-top: 20px;
}

.turne-frame {
	border: none;
	display: block;
	float: left;
	
	width: 100%;
	background-color: #000;
	/* margin-bottom: 18px; */
	margin-bottom: 15px;
	/* height: 36px; */
	/* padding: 10px 8px 0 !important; */
	padding: 9px 8px !important; 
}

.turne-namn {
	display: inline;
}
.turne-text, .turne-namn {
	/* color: @footer-text-color; */
	line-height: 16px;
	font-weight: 400;
	margin-bottom: 6px;
}
.turne-text {
	font-size: 14px;
	text-transform: lowercase;
}
.turne-name {
	font-size: 12px;
}

.box-link {
	margin-top: 5px;
	width: 80px;
	height: 36px;
	background-color: #000;
	display: inline-block;
	padding: 10px 10px 10px 15px !important;
}

.turne-frame > a {
	margin: 0 6px;
}

.box-link a,
.box-link a:visited,
.turne-frame > a,
.turne-frame > a:visited {
	color:@footer-link-button;
}
.lomedverkande {
	margin-right: 4px;
}
.lomedverkande:after {
    /* color: #008000; */
    content: ",";
}
.lomedverkande:last-child:after {
	content: "";
}

.val-footer > .container > .two-col {
	max-width: 100%;
	width: 100%;
	margin: 0 0 20px;
}

.val-footer > .container > .two-col + .two-col {
	margin: 0;
}	


