/* Red boxes */
.redbox {
	/* background-color: red; */
	margin-right: 5px;
	margin-left: 0;
	width: 49.5%;
	float: left;
	border: 8px solid #f0f0f0;
}

.redbox + .redbox {
	margin-right: 0;
	margin-left: 5px;
}

.redbox > header {
	padding: 8px 0;
	font-weight: bold;
	background-color: #d1111c;
	color: #ffffff;
	text-align: center;
}
.redbox > section {
	padding: 15px 20px;
}


/* formulär för att aktivera sig */
.val2014-insats input, .val2014-insats select {
	border-radius: 4px;
	width: 50%;
	float: left;
}