/* LAYOUT */



@font-face{ 
	font-family: 'crayon';
	src: url('/home/lo/res.nsf/vRes/lo_1336994574312_pastel_crayon_webfont_eot/$File/pastel_crayon-webfont.eot');
	src: url('/home/lo/res.nsf/vRes/lo_1336994574312_pastel_crayon_webfont_eot/$File/pastel_crayon-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/home/lo/res.nsf/vRes/lo_1336994574312_pastel_crayon_webfont_woff/$File/pastel_crayon-webfont.woff') format('woff'),
	     url('/home/lo/res.nsf/vRes/lo_1336994574312_pastel_crayon_webfont_ttf/$File/pastel_crayon-webfont.ttf') format('truetype'),
	     url('/home/lo/res.nsf/vRes/lo_1336994574312_pastel_crayon_webfont_svg/$File/pastel_crayon-webfont.svg#webfont') format('svg');
}

#byt-politik-2014 {
	padding: 0;
}

#byt-politik-2014 .rad {
	/*border-top: 1px solid #dedede; */
	border-bottom: 1px solid #e4e4e4;
	padding: 0px 8px;
}
#byt-politik-2014 .rad.noborder {
	border-bottom: none;
}

#byt-politik-2014 .bg-inverted {
	background-image: url('/home/lo/res.nsf/vRes/global_1392727208885_temp1_gif/$File/temp1.gif');
	background-repeat: repeat;
}

#byt-politik-2014 .bg-gray {
	background-color: #f7f7f7;
}


#byt-politik-2014 > .bg {
	background-image: url('/home/lo/res.nsf/vRes/global_1392727208885_temp2_gif/$File/temp2.gif');
	background-repeat: repeat;
}

#byt-politik-2014 .rad > .container {
	/* background-color: #dfdfdf; */
	padding: 0;
	margin: 26px auto;
}
#byt-politik-2014 .rad.noborder > .container {
	margin: 26px auto 0;
}

#byt-politik-2014 .gray {
	background-color: @gray;
}

/* Overloading main CSS-file: */

#byt-politik-2014 > .rad.bottommost > .container{
	margin: 26px auto; 
}

.main-footer {
	margin: 0;
}

#byt-politik-2014 .wrap {
	margin-bottom: 0;
}
.special-text-img {
position: absolute;
top: 40px;
left: 21px;
text-align: center;
color: white;
cursor: pointer;
display: table;

/* Safari */
-webkit-transform: rotate(-15deg);

/* Firefox */
-moz-transform: rotate(-15deg);

/* IE */
-ms-transform: rotate(-15deg);

/* Opera */
-o-transform: rotate(-15deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}


.special-text-headline {
	font-family: 'crayon';
	color: #ffed00;
	font-size: 48px;
	line-height: 15px;
}	
.special-text {
	font-family: 'crayon';
	color: #c7c7c7;
	font-size: 18px;
	display: block;
}	




