/* LAYOUT */
#byt-politik-2014 {
	padding: 0;
}

#byt-politik-2014 .rad {
	/*border-top: 1px solid #dedede; */
	border-bottom: 1px solid #e4e4e4;
	padding: 0px 8px;
}
#byt-politik-2014 .rad.noborder {
	border-bottom: none;
}

#byt-politik-2014 .bg-inverted {
	background-image: url('/home/lo/res.nsf/vRes/global_1392727208885_temp1_gif/$File/temp1.gif');
	background-repeat: repeat;
}

#byt-politik-2014 .bg-gray {
	background-color: #f7f7f7;
}


#byt-politik-2014 > .bg {
	background-image: url('/home/lo/res.nsf/vRes/global_1392727208885_temp2_gif/$File/temp2.gif');
	background-repeat: repeat;
}

#byt-politik-2014 .rad > .container {
	/* background-color: #dfdfdf; */
	padding: 0;
	margin: 26px auto;
}
#byt-politik-2014 .rad.noborder > .container {
	margin: 26px auto 0;
}

#byt-politik-2014 .gray {
	background-color: @gray;
}

/* Overloading main CSS-file: */
.main-footer {
	margin: 0;
}

/* bread crumb fixes: */
#byt-politik-2014 .breadcrumb {

}