/* LAYOUT */
#byt-politik-2014 {
	padding: 0;
}

#byt-politik-2014 > .rad {
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #bfbfbf;
}

#byt-politik-2014 > .bg-inverted {
	background-image: url('/home/lo/res.nsf/vRes/global_1392727208885_temp2_png/$File/temp2.png');
	background-repeat: repeat;
}


#byt-politik-2014 > .bg {
	background-image: url('/home/lo/res.nsf/vRes/global_1392727208885_temp3_png/$File/temp3.png');
	background-repeat: repeat;
}

#byt-politik-2014 > .rad > .container {
	/* background-color: #dfdfdf; */
	padding: 0;
	margin: 26px auto;
}

#byt-politik-2014 .gray {
	background-color: @gray;
}

/*
#byt-politik-2014 > .rad.topmost > .container{
	margin: 0 auto 26px; 
}

#byt-politik-2014 > .rad.bottommost > .container{
	margin: 26px auto 0; 
}
*/