/* slajder TCs slajder */


/*

punken är död!



*/

.slider {
	padding:0;
	margin:0;
}


.news-slider .puff img {
	float:none;
}

.test {
	margin:0;

}

.bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.infografik .bx-viewport {
	height: 178px !important;
}
.info-slider {


}