/* slajder TCs slajder */


.slider {
	padding:0;
	margin:0;
}


.news-slider .puff img {
	float:none;
}

.bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.test {
	margin:0;
}